# PyCity Schools Analysis

- Your analysis here
  
---

In [48]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [49]:
# Calculate the total number of unique schools
school_count = school_data_complete['school_name'].nunique()
district_summary = pd.DataFrame({'Total Schools': [school_count]})
print(district_summary)

   Total Schools
0             15

In [50]:
# Calculate the total number of students
student_count = school_data_complete['student_name'].nunique()
district_summary = pd.DataFrame({'Total Students': [student_count]})
print(district_summary)

   Total Students
0           32715

In [51]:
# Calculate the total budget
total_budget = school_data_complete['budget'].sum()
district_summary = pd.DataFrame({'Total Budget': [total_budget]})
print(district_summary)

   Total Budget
0   82932329558

In [52]:
# Calculate the average (mean) math score
average_math_score = school_data_complete['math_score'].mean()
district_summary = pd.DataFrame({'Average Math Score': [average_math_score]})
print(district_summary)

   Average Math Score
0           78.985371

In [53]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete['reading_score'].mean()
district_summary = pd.DataFrame({'Average Reading Score': [average_reading_score]})
print(district_summary)

   Average Reading Score
0               81.87784

In [54]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

89.77533241632278

In [55]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)
studnet_count = school_data_complete['student_name'].count()
passing_reading_count = school_data_complete[school_data_complete["reading_score"] >= 70]['student_name'].count()
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

102.73574812777014

In [56]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

78.031484028733

In [57]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({
    "Total Students": [student_count],
    "Total Budget": [total_budget],
    "Average Math Score": [average_math_score],
    "Average Reading Score": [average_reading_score],
    "Passing Math Percentage": [passing_math_percentage],
    "Passing Reading Percentage": [passing_reading_percentage],
    "Overall Passing Percentage": [overall_passing_rate]
})

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:.2f}".format)
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{:.2f}".format)
district_summary["Passing Math Percentage"] = district_summary["Passing Math Percentage"].map("{:.2f}%".format)
district_summary["Passing Reading Percentage"] = district_summary["Passing Reading Percentage"].map("{:.2f}%".format)
district_summary["Overall Passing Percentage"] = district_summary["Overall Passing Percentage"].map("{:.2f}%".format)

# Display the DataFrame
district_summary

,Total Students,Total Budget,Average Math Score,Average Reading Score,Passing Math Percentage,Passing Reading Percentage,Overall Passing Percentage
0,"32,715","$82,932,329,558.00",78.99,81.88,89.78%,102.74%,78.03%

## School Summary

In [58]:
# Use the code provided to select the type per school from school_data
school_types = school_data.set_index(["school_name"])["type"]

In [59]:
# Calculate the total student count per school from school_data
per_school_counts = school_data.set_index(["school_name"])["size"]
per_school_counts

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [60]:
# Calculate the total school budget per school
total_school_budget = school_data.groupby("school_name")["budget"].sum()

# Calculate the total student count per school
per_school_counts = school_data.groupby("school_name")["size"].sum()

# Calculate the per capita spending per school
per_capita_spending = total_school_budget / per_school_counts

# Display results
total_school_budget, per_school_counts, per_capita_spending

(school_name
 Bailey High School       3124928
 Cabrera High School      1081356
 Figueroa High School     1884411
 Ford High School         1763916
 Griffin High School       917500
 Hernandez High School    3022020
 Holden High School        248087
 Huang High School        1910635
 Johnson High School      3094650
 Pena High School          585858
 Rodriguez High School    2547363
 Shelton High School      1056600
 Thomas High School       1043130
 Wilson High School       1319574
 Wright High School       1049400
 Name: budget, dtype: int64,
 school_name
 Bailey High School       4976
 Cabrera High School      1858
 Figueroa High School     2949
 Ford High School         2739
 Griffin High School      1468
 Hernandez High School    4635
 Holden High School        427
 Huang High School        2917
 Johnson High School      4761
 Pena High School          962
 Rodriguez High School    3999
 Shelton High School      1761
 Thomas High School       1635
 Wilson High School       2283
 Wright High School       1800
 Name: size, dtype: int64,
 school_name
 Bailey High School       628.0
 Cabrera High School      582.0
 Figueroa High School     639.0
 Ford High School         644.0
 Griffin High School      625.0
 Hernandez High School    652.0
 Holden High School       581.0
 Huang High School        655.0
 Johnson High School      650.0
 Pena High School         609.0
 Rodriguez High School    637.0
 Shelton High School      600.0
 Thomas High School       638.0
 Wilson High School       578.0
 Wright High School       583.0
 dtype: float64)

In [61]:
# Calculate the average test scores per school from school_data_complete
per_school_math = school_data_complete.groupby("school_name")["math_score"].mean
per_school_reading = school_data_complete.groupby("school_name")["reading_score"].mean

#Display results
per_school_math, per_school_reading

(<bound method GroupBy.mean of <pandas.core.groupby.generic.SeriesGroupBy object at 0x149e6d330>>,
 <bound method GroupBy.mean of <pandas.core.groupby.generic.SeriesGroupBy object at 0x149e6d150>>)

In [62]:
school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [63]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete
#students_passing_math = per_school_math['math_score'] >= 70.count()['student_name']
#school_students_passing_math = students_passing_math / student_count * 100

# First, filter the DataFrame to get only the rows where math scores are 70 or higher
students_passing_math = school_data_complete[school_data_complete['math_score'] >= 70]

# Then, group by 'school_name' and count the number of students in each group
students_passing_math_count = students_passing_math.groupby('school_name').count()['student_name']

# Calculate the total number of students per school
total_students_per_school = school_data_complete.groupby('school_name').count()['student_name']

# Calculate the percentage of students passing math in each school
school_students_passing_math = (students_passing_math_count / total_students_per_school) * 100

school_students_passing_math

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
Name: student_name, dtype: float64

In [64]:
# Calculate the number of students per school with reading scores of 70 or higher from school_data_complete
students_passing_reading = school_data_complete[school_data_complete['reading_score'] >+ 70]
students_passing_reading_count = students_passing_reading.groupby('school_name').count()['student_name']
total_students_per_school = school_data_complete.groupby('school_name').count()['student_name']
school_students_passing_reading = (students_passing_reading_count / total_students_per_school) * 100
school_students_passing_reading

school_name
Bailey High School       79.300643
Cabrera High School      93.864370
Figueroa High School     78.433367
Ford High School         77.510040
Griffin High School      93.392371
Hernandez High School    78.187702
Holden High School       92.740047
Huang High School        78.813850
Johnson High School      78.281874
Pena High School         92.203742
Rodriguez High School    77.744436
Shelton High School      92.617831
Thomas High School       92.905199
Wilson High School       93.254490
Wright High School       93.444444
Name: student_name, dtype: float64

In [65]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [66]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

In [67]:
school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [68]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = {
    "School Type": school_types,
    "Total Students": per_school_counts,
    "Total School Budget": total_school_budget,
    "Per Student Budget": per_capita_spending,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "Student Passing Math (%)": per_school_passing_math,
    "Student Passing Reading (%)": per_school_passing_reading,
    "Overall Passing Rate (%)": overall_passing_rate
}

per_school_summary = pd.DataFrame(per_school_summary)

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
print(per_school_summary)

                      School Type  Total Students Total School Budget  \
school_name
Bailey High School       District            4976       $3,124,928.00
Cabrera High School       Charter            1858       $1,081,356.00
Figueroa High School     District            2949       $1,884,411.00
Ford High School         District            2739       $1,763,916.00
Griffin High School       Charter            1468         $917,500.00
Hernandez High School    District            4635       $3,022,020.00
Holden High School        Charter             427         $248,087.00
Huang High School        District            2917       $1,910,635.00
Johnson High School      District            4761       $3,094,650.00
Pena High School          Charter             962         $585,858.00
Rodriguez High School    District            3999       $2,547,363.00
Shelton High School       Charter            1761       $1,056,600.00
Thomas High School        Charter            1635       $1,043,130.00
Wilson High School        Charter            2283       $1,319,574.00
Wright High School        Charter            1800       $1,049,400.00

                      Per Student Budget  \
school_name
Bailey High School               $628.00
Cabrera High School              $582.00
Figueroa High School             $639.00
Ford High School                 $644.00
Griffin High School              $625.00
Hernandez High School            $652.00
Holden High School               $581.00
Huang High School                $655.00
Johnson High School              $650.00
Pena High School                 $609.00
Rodriguez High School            $637.00
Shelton High School              $600.00
Thomas High School               $638.00
Wilson High School               $578.00
Wright High School               $583.00

                                                      Average Math Score  \
school_name
Bailey High School     <bound method GroupBy.mean of <pandas.core.gro...
Cabrera High School    <bound method GroupBy.mean of <pandas.core.gro...
Figueroa High School   <bound method GroupBy.mean of <pandas.core.gro...
Ford High School       <bound method GroupBy.mean of <pandas.core.gro...
Griffin High School    <bound method GroupBy.mean of <pandas.core.gro...
Hernandez High School  <bound method GroupBy.mean of <pandas.core.gro...
Holden High School     <bound method GroupBy.mean of <pandas.core.gro...
Huang High School      <bound method GroupBy.mean of <pandas.core.gro...
Johnson High School    <bound method GroupBy.mean of <pandas.core.gro...
Pena High School       <bound method GroupBy.mean of <pandas.core.gro...
Rodriguez High School  <bound method GroupBy.mean of <pandas.core.gro...
Shelton High School    <bound method GroupBy.mean of <pandas.core.gro...
Thomas High School     <bound method GroupBy.mean of <pandas.core.gro...
Wilson High School     <bound method GroupBy.mean of <pandas.core.gro...
Wright High School     <bound method GroupBy.mean of <pandas.core.gro...

                                                   Average Reading Score  \
school_name
Bailey High School     <bound method GroupBy.mean of <pandas.core.gro...
Cabrera High School    <bound method GroupBy.mean of <pandas.core.gro...
Figueroa High School   <bound method GroupBy.mean of <pandas.core.gro...
Ford High School       <bound method GroupBy.mean of <pandas.core.gro...
Griffin High School    <bound method GroupBy.mean of <pandas.core.gro...
Hernandez High School  <bound method GroupBy.mean of <pandas.core.gro...
Holden High School     <bound method GroupBy.mean of <pandas.core.gro...
Huang High School      <bound method GroupBy.mean of <pandas.core.gro...
Johnson High School    <bound method GroupBy.mean of <pandas.core.gro...
Pena High School       <bound method GroupBy.mean of <pandas.core.gro...
Rodriguez High School  <bound method GroupBy.mean of <pandas.core.gro...
Shelton High School    <bound method GroupBy.mean of <pandas.core.gro...
Thomas High School     <bound method GroupBy.mean of <pandas.core.gro...
Wilson High School     <bound method GroupBy.mean of <pandas.core.gro...
Wright High School     <bound method GroupBy.mean of <pandas.core.gro...

                       Student Passing Math (%)  Student Passing Reading (%)  \
school_name
Bailey High School                     1.340033                     1.593662
Cabrera High School                    5.066387                     5.051904
Figueroa High School                   2.237656                     2.659660
Ford High School                       2.493961                     2.829866
Griffin High School                    6.361878                     6.361878
Hernandez High School                  1.440193                     1.686898
Holden High School                    21.664135                    21.718981
Huang High School                      2.251763                     2.701880
Johnson High School                    1.387472                     1.644232
Pena High School                       9.833118                     9.584589
Rodriguez High School                  1.659580                     1.944097
Shelton High School                    5.330331                     5.259388
Thomas High School                     5.704720                     5.682275
Wilson High School                     4.111595                     4.084735
Wright High School                     5.185185                     5.191358

                       Overall Passing Rate (%)
school_name
Bailey High School                    54.642283
Cabrera High School                   91.334769
Figueroa High School                  53.204476
Ford High School                      54.289887
Griffin High School                   90.599455
Hernandez High School                 53.527508
Holden High School                    89.227166
Huang High School                     53.513884
Johnson High School                   53.539172
Pena High School                      90.540541
Rodriguez High School                 52.988247
Shelton High School                   89.892107
Thomas High School                    90.948012
Wilson High School                    90.582567
Wright High School                    90.333333

## Highest-Performing Schools (by % Overall Passing)

In [69]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values(by="Overall Passing Rate (%)", ascending=False)
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Student Passing Math (%),Student Passing Reading (%),Overall Passing Rate (%)
school_name,,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,<bound method GroupBy.mean of <pandas.core.gro...,<bound method GroupBy.mean of <pandas.core.gro...,5.066387,5.051904,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,<bound method GroupBy.mean of <pandas.core.gro...,<bound method GroupBy.mean of <pandas.core.gro...,5.704720,5.682275,90.948012
Griffin High School,Charter,1468,"$917,500.00",$625.00,<bound method GroupBy.mean of <pandas.core.gro...,<bound method GroupBy.mean of <pandas.core.gro...,6.361878,6.361878,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,<bound method GroupBy.mean of <pandas.core.gro...,<bound method GroupBy.mean of <pandas.core.gro...,4.111595,4.084735,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,<bound method GroupBy.mean of <pandas.core.gro...,<bound method GroupBy.mean of <pandas.core.gro...,9.833118,9.584589,90.540541

## Bottom Performing Schools (By % Overall Passing)

In [70]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values(by="Overall Passing Rate (%)", ascending=True)
bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Student Passing Math (%),Student Passing Reading (%),Overall Passing Rate (%)
school_name,,,,,,,,,
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,<bound method GroupBy.mean of <pandas.core.gro...,<bound method GroupBy.mean of <pandas.core.gro...,1.659580,1.944097,52.988247
Figueroa High School,District,2949,"$1,884,411.00",$639.00,<bound method GroupBy.mean of <pandas.core.gro...,<bound method GroupBy.mean of <pandas.core.gro...,2.237656,2.659660,53.204476
Huang High School,District,2917,"$1,910,635.00",$655.00,<bound method GroupBy.mean of <pandas.core.gro...,<bound method GroupBy.mean of <pandas.core.gro...,2.251763,2.701880,53.513884
Hernandez High School,District,4635,"$3,022,020.00",$652.00,<bound method GroupBy.mean of <pandas.core.gro...,<bound method GroupBy.mean of <pandas.core.gro...,1.440193,1.686898,53.527508
Johnson High School,District,4761,"$3,094,650.00",$650.00,<bound method GroupBy.mean of <pandas.core.gro...,<bound method GroupBy.mean of <pandas.core.gro...,1.387472,1.644232,53.539172

In [71]:
school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

## Math Scores by Grade

In [72]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = ninth_graders.groupby("school_name")["math_score"].mean()
tenth_grader_math_scores = tenth_graders.groupby("school_name")["math_score"].mean()
eleventh_grader_math_scores = eleventh_graders.groupby("school_name")["math_score"].mean()
twelfth_grader_math_scores = twelfth_graders.groupby("school_name")["math_score"].mean()

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({
    "9th": ninth_grade_math_scores, 
    "10th": tenth_grader_math_scores, 
    "11th": eleventh_grader_math_scores,
    "12th": twelfth_grader_math_scores
})

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

In [73]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = ninth_graders.groupby("school_name")["reading_score"].mean()
tenth_grader_reading_scores = tenth_graders.groupby("school_name")["reading_score"].mean()
eleventh_grader_reading_scores = eleventh_graders.groupby("school_name")["reading_score"].mean()
twelfth_grader_reading_scores = twelfth_graders.groupby("school_name")["reading_score"].mean()

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({
    "9th": ninth_grade_reading_scores,
    "10th": tenth_grader_reading_scores, 
    "11th": eleventh_grader_reading_scores,
    "12th": twelfth_grader_reading_scores
})

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

In [74]:
# Establish the bins
#spending_bins = [0, 585, 630, 645, 680]
#labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [75]:
# Create a copy of the school summary since it has the "Per Student Budget"
#school_spending_df = per_school_summary.copy()

In [76]:
# Use `pd.cut` to categorize spending based on the bins.
#school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Per Student Budget"], bins=spending_bins, labels=labels)
#school_spending_df.head()


# Assuming per_school_summary is your original DataFrame with the "Per Student Budget" column
# Create a copy of the per_school_summary DataFrame
school_spending_df = per_school_summary.copy()

# Define the spending bins and labels
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

# Convert the "Per Student Budget" from string to numeric
school_spending_df["Per Student Budget"] = school_spending_df["Per Student Budget"].str.replace('[^\d.]', '', regex=True).astype(float)

# Use pd.cut to categorize spending based on the bins
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Per Student Budget"], bins=spending_bins, labels=labels)

# Display the updated DataFrame
print(school_spending_df.head())

                     School Type  Total Students Total School Budget  \
school_name
Bailey High School      District            4976       $3,124,928.00
Cabrera High School      Charter            1858       $1,081,356.00
Figueroa High School    District            2949       $1,884,411.00
Ford High School        District            2739       $1,763,916.00
Griffin High School      Charter            1468         $917,500.00

                      Per Student Budget  \
school_name
Bailey High School                 628.0
Cabrera High School                582.0
Figueroa High School               639.0
Ford High School                   644.0
Griffin High School                625.0

                                                     Average Math Score  \
school_name
Bailey High School    <bound method GroupBy.mean of <pandas.core.gro...
Cabrera High School   <bound method GroupBy.mean of <pandas.core.gro...
Figueroa High School  <bound method GroupBy.mean of <pandas.core.gro...
Ford High School      <bound method GroupBy.mean of <pandas.core.gro...
Griffin High School   <bound method GroupBy.mean of <pandas.core.gro...

                                                  Average Reading Score  \
school_name
Bailey High School    <bound method GroupBy.mean of <pandas.core.gro...
Cabrera High School   <bound method GroupBy.mean of <pandas.core.gro...
Figueroa High School  <bound method GroupBy.mean of <pandas.core.gro...
Ford High School      <bound method GroupBy.mean of <pandas.core.gro...
Griffin High School   <bound method GroupBy.mean of <pandas.core.gro...

                      Student Passing Math (%)  Student Passing Reading (%)  \
school_name
Bailey High School                    1.340033                     1.593662
Cabrera High School                   5.066387                     5.051904
Figueroa High School                  2.237656                     2.659660
Ford High School                      2.493961                     2.829866
Griffin High School                   6.361878                     6.361878

                      Overall Passing Rate (%) Spending Ranges (Per Student)
school_name
Bailey High School                   54.642283                      $585-630
Cabrera High School                  91.334769                         <$585
Figueroa High School                 53.204476                      $630-645
Ford High School                     54.289887                      $630-645
Griffin High School                  90.599455                      $585-630

In [77]:
school_spending_df.columns

Index(['School Type', 'Total Students', 'Total School Budget',
       'Per Student Budget', 'Average Math Score', 'Average Reading Score',
       'Student Passing Math (%)', 'Student Passing Reading (%)',
       'Overall Passing Rate (%)', 'Spending Ranges (Per Student)'],
      dtype='object')

In [78]:
# Calculate averages for the desired columns
spending_math_scores = school_spending_df.groupby("Per Student Budget")["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby("Per Student Budget")["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby("Per Student Budget")["Passing Math (%)"].mean()
spending_passing_reading = school_spending_df.groupby("Per Student Budget")["Passing Reading (%)"].mean()
overall_passing_spending = school_spending_df.groupby("Per Student Budget")["Overall Passing Rate (%)"].mean()

TypeError: agg function failed [how->mean,dtype->object]

In [ ]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({
    "Average Math Score": spending_math_scores,
    "Average Reading Score": spending_reading_scores,
    "Student Passing Math (%)": spending_passing_math,
    "Student Passing Reading (%)": spending_passing_reading,
    "Overall Passing Rate (%)": overall_passing_spending
})

# Display results
print(spending_summary)

NameError: name 'spending_math_scores' is not defined

## Scores by School Size

In [ ]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] = school_data_complete.groupby("school_types")["student_count"]
per_school_summary

KeyError: 'school_types'

In [ ]:
# Calculate averages for the desired columns.
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

KeyError: 'School Size'

In [ ]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = pd.DataFrame({
    "Average Math Score": size_math_scores,
    "Average Reading Score": size_reading_scores,
    "% Passing Math": size_passing_math,
    "% Passing Reading": size_passing_reading,
    "% Overall Passing": size_overall_passing
})

# Display results
print(size_summary)

NameError: name 'size_math_scores' is not defined

## Scores by School Type

In [ ]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

TypeError: agg function failed [how->mean,dtype->object]

In [ ]:
# Assembling the data into a new DataFrame called `type_summary`
type_summary = pd.DataFrame({
    "Average Math Score": average_math_score_by_type,
    "Average Reading Score": average_reading_score_by_type,
    "% Passing Math": average_percent_passing_math_by_type,
    "% Passing Reading": average_percent_passing_reading_by_type,
    "% Overall Passing": average_percent_overall_passing_by_type
})

# Display results
type_summary

NameError: name 'average_math_score_by_type' is not defined